<div class="container-fluid" style="text-align: center">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Welcome {{ user?.name }}</h3>			
		</div>

		<div *ngIf="quizs" class="panel-body">
			<form>
				<ul class="slides" style="list-style: none; padding-left:0px">
					<li *ngFor="let quiz of quizs">
						<div style="width: 100%;margin-bottom: 10px;" class="btn btn-warning" [ngClass]="{disabled: !quiz.isActive}" (click)="startQuiz(quiz)">
							Level:{{ quiz.level }} {{ quiz.description }} ({{quiz.UserQuizs[quiz.UserQuizs.length-1]?.attempt}})
							<span *ngIf="quiz.UserQuizs.length > 0" style="margin-left:10px" class="glyphicon" [ngClass]="{'glyphicon-ok': quiz.UserQuizs[quiz.UserQuizs.length-1].status === 'COMPLETED_SUCCESS', 
											  'glyphicon-remove': quiz.UserQuizs[quiz.UserQuizs.length-1].status === 'COMPLETED_FAIL',
											  'glyphicon-pencil': quiz.UserQuizs[quiz.UserQuizs.length-1].status === 'IN_PROGRESS'}"></span>
						</div>						
						<!-- <button class="btn btn-default" (click)="startQuiz(quiz)" [disabled]="!quiz.isActive">
							{{ quiz.description }} - {{ quiz.level }}
						</button>
						<div *ngIf="quiz.UserQuizs && quiz.UserQuizs.length > 0">
							Status: {{ quiz.UserQuizs[0].status }}
						</div> -->
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>