<div class="container-wrapper" style="text-align: center; background:white">
	<div style="min-height:30px">
		<h2 style="font-size:1.5em; margin-top:10px">Welcome {{user?.name}}</h2>
	</div>

	<div [@quizeHomeAnim]="quizs" *ngFor="let quiz of quizs; let i = index" [attr.data-index]="i" style="height:30%; min-height: 150px" class="row-section">
		<div class="row-section-cell section-{{i}}" [ngClass]="{active: quiz.isActive}" (click)="startQuiz(quiz)">
			<span>
				<img class="quiz-image" src="{{getImage(quiz.imageUrl)}}" />				
			</span>
			
			<span class="quiz-text">				
				<div>
					{{ quiz.description }}
					<span>
						<div *ngIf="quiz.UserQuizs.length > 0" class="glyphicon quiz-glyphicon" [ngClass]="{'glyphicon-ok': quiz.UserQuizs[quiz.UserQuizs.length-1].status === 'COMPLETED_SUCCESS', 
							'glyphicon-remove': quiz.UserQuizs[quiz.UserQuizs.length-1].status === 'COMPLETED_FAIL',
							'glyphicon-pencil': quiz.UserQuizs[quiz.UserQuizs.length-1].status === 'IN_PROGRESS'}">
						</div>
						<div *ngIf="quiz.UserQuizs.length === 0 && !quiz.isActive" style="color:red" class="glyphicon quiz-glyphicon glyphicon-ban-circle"></div>
						<div *ngIf="quiz.UserQuizs.length === 0 && i === 0" class="glyphicon quiz-glyphicon"></div>
					</span>				
				</div>
				<div style="font-size:0.8em; color:#8c1e0d; margin-bottom:5px">
					({{ quiz.instruction }})
				</div>
				<div *ngIf="quiz.isActive" class="quiz-active">
					<img style="height: 65px;" 
							src="./assets/images/play-blue.png">
				</div>	
			</span>
		</div>						
	</div>
</div>