.row {
    margin-bottom: 10px;
}

.question-row input,textarea {
	width: 100%
}

.option-row input {
	width: 100%
}


select {
    height: 27px;
    color: black;
}

.question-row > .row {
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.img-deleted {
    opacity: .5;
}