<div class="container-fluid">
	<div *ngIf="quiz" class="panel panel-info">
		<div class="panel-heading">
			<!-- <div>
				<h3 class="panel-title">Questions</h3>
			</div> -->
			<div>
				<div class="col-md-3">{{quiz.id}}</div>
				<div class="col-md-3">{{quiz.description}}</div>
				<div class="col-md-2">{{quiz.level}}</div>
				<div class="col-md-2">{{quiz.timeoutInterval}}</div>
			</div>
			<div class="panel-title">Quizs
				<a [routerLink]="['/admin/quizhome']" class="glyphicon glyphicon-home"></a>
			</div>
			<h3></h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div>
					<div class="col-md-1">Id</div>
					<div class="col-md-3">Desc</div>
					<div class="col-md-1">Complexity/ Group</div>
					<div class="col-md-1">OptionType</div>
					<div class="col-md-3">Options</div>
					<div class="col-md-3"><button style="position: fixed; bottom: 40px; right: 20px; z-index:9999" class="btn btn-primary btn-sm" (click)="addNewQuestion()">Add New Question</button></div>
				</div>
			</div>

			<div class="question-row">
				<div class="row" *ngFor="let question of quiz.Questions">
					<div class="col-md-1" style="padding-right:0px" title="{{question.id}}">
						<label style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{question.id}}</label>
					</div>
					<div class="col-md-3">
						<textarea style="height:200px" type="text" [(ngModel)]="question.description" autofocus></textarea>
						<input type="file" (change)="fileChange(question, $event)" name="file" />
						<button *ngIf="question.imageUrl" (click)="deleteImage(question)" 
							[disabled]="question?.file?.isDeleted" >Delete Image</button> 
						<img src="{{getImage(question.imageUrl)}}" style="height:50px" [ngClass]="{'img-deleted': question?.file?.isDeleted}">
					</div>
					<div class="col-md-1">
						<select [(ngModel)]="question.complexity">
							<option *ngFor="let op of QUESTION_COMPLEXITITES">{{op}}</option>
						</select>
						<div *ngIf="question.complexity === 'GROUP'">
							<label style="margin-top:10px; margin-bottom:1px">Group Name</label>
							<input type="text" [(ngModel)]="question.groupName"/>

							<label style="margin-top:10px; margin-bottom:1px">Index</label>
							<input type="text" [(ngModel)]="question.index"/>
						</div>
					</div>
					<div class="col-md-1">
						<select [(ngModel)]="question.optionType">
							<option *ngFor="let op of OPTION_TYPE">{{op}}</option>
						</select>
					</div>
					<div class="col-md-3">
						<div class="option-row">
							<div style="padding-left:0px; color:#2f3133" class="row" 
								*ngFor="let option of question.QuizOptions; let i = index" [attr.data-index]="i">
								<div class="col-md-8">
									<input type="text" [(ngModel)]="option.description" />
								</div>
								<div class="col-md-2">
									<select [(ngModel)]="option.isCorrect">
										<option *ngFor="let op of OPTION_FLAG">{{op}}</option>
									</select>
								</div>
								<div class="col-md-2" style="color:#df691a">
									<span style="cursor: pointer" class="glyphicon glyphicon-minus" 
										(click)="removeQuizOption(question, i)"></span>
									<span *ngIf="i == question.QuizOptions.length-1 && question.optionType != 'Text'" style="cursor: pointer" class="glyphicon glyphicon-plus" 
										(click)="addQuizOption(question, i)"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<button class="btn btn-default btn-sm" (click)="updateQuestion(question)">Update Question</button>
						<button class="btn btn-default btn-sm" (click)="deleteQuestion(question)">Delete Question</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>