<div class="container-fluid">
	<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
	<div *ngIf="quiz" class="panel panel-info">
		<div class="panel-heading">
			<!-- <div>
				<h3 class="panel-title">Questions</h3>
			</div> -->
			<div>
				<div class="col-md-3">{{quiz._id}}</div>
				<div class="col-md-3">{{quiz.desc}}</div>
				<div class="col-md-2">{{quiz.level}}</div>
				<div class="col-md-2">{{quiz.timeoutInterval}}</div>
			</div>
			<div class="panel-title">Questions
				<a [routerLink]="['/quizs']" class="glyphicon glyphicon-home"></a>
			</div>
			<h3></h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div>
					<div class="col-md-2">Id</div>
					<div class="col-md-2">Desc</div>
					<div class="col-md-2">OptionType</div>
					<div class="col-md-3">Options</div>
					<div class="col-md-3"><button class="btn btn-primary btn-sm" (click)="addNewQuestion()">Add New Question</button></div>
				</div>
			</div>

			<div class="row">
				<div *ngFor="let question of quiz.questions">
					<div class="col-md-2">
						<label>{{question._id}}</label>
					</div>
					<div class="col-md-2">
						<input type="text" [(ngModel)]="question.desc"/>
					</div>
					<div class="col-md-2">
						<input type="text" [(ngModel)]="question.optionType"/>
					</div>
					<div class="col-md-3">
						<button class="btn btn-primary btn-sm" style="width:120px" (click)="showOptions(question)">Show Options ({{question?.options?.length}})</button>
						<button class="btn btn-primary btn-sm" (click)="addNewOption(question)">Add New Option</button>						
					</div>
					<div class="col-md-3">
						<button class="btn btn-default btn-sm" (click)="updateQuestion(question)">Update Question</button>
						<button class="btn btn-default btn-sm" (click)="deleteQuestion(question)">Delete Question</button>
						<!-- <a [routerLink]="['/questions', quiz._id]" class="btn btn-default btn-sm">Show Options ({{quiz.questions?.options?.length}})</a> -->
					</div>

				</div>
			</div>

			<div class="row">
				<div class="panel-heading">
					<div class="panel-title">Options</div>
				</div>
			</div>

			<div *ngIf="selectedQuestion" class="row">
				<div *ngFor="let option of selectedQuestion.options">
					<div class="col-md-2">
						<label>{{option._id}}</label>
					</div>
					<div class="col-md-4">
						<input type="text" [(ngModel)]="option.desc"/>
					</div>
					<div class="col-md-2">
						<input type="text" [(ngModel)]="option.isCorrect"/>
					</div>
					<div class="col-md-4">
						<button class="btn btn-default btn-sm" (click)="updateOption(selectedQuestion, option)">Update Option</button>
						<button class="btn btn-default btn-sm" (click)="deleteOption(selectedQuestion, option)">Delete Option</button>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>