<div class="container-fluid">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">UserQuiz {{ user?.CurrentUserQuiz?.Quiz?.description}}</h3>			
		</div>

		<div *ngIf="user?.CurrentUserQuestion?.id" class="panel-body">
			<div class="carousel">
				<code style="background:transparent; color: white; word-wrap: break-word; white-space: pre-wrap;">{{user.CurrentUserQuestion.Question.description}}</code>
				<hr/>
				<form>
					<ul *ngIf="user.CurrentUserQuestion.Question.QuizOptions" class="slides">
						<li *ngFor="let option of user.CurrentUserQuestion.Question.QuizOptions">						
							<!--  -->
							<input *ngIf="user.CurrentUserQuestion.Question.optionType === 'Checkbox'" type="checkbox" 
								name="optionSelection"
								value="{{option.id}}"
								(change)="onOptionSelected(user.CurrentUserQuestion, option)">
							<input *ngIf="user.CurrentUserQuestion.Question.optionType != 'Checkbox'" type="radio" 
								name="optionSelection" 
								value="{{option.id}}"
								(change)="onOptionSelected(user.CurrentUserQuestion, option)">						
							<label>{{option.description}}</label>											
						</li>
					</ul>
				</form>
				<button class="btn btn-default" (click)="getNextQuestion()">Get Next Question</button>
			</div>		  
		</div>
	</div>
</div>