<div class="container-fluid">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">UserQuiz {{ user?.CurrentUserQuiz?.Quiz?.description}}</h3>			
		</div>

		<toaster-container [toasterconfig]="toasterConfig"></toaster-container>

		<div *ngIf="user?.CurrentUserQuestion?.id" class="panel-body">
			<div class="carousel">
				<pre style="background:transparent; color: white; word-wrap: break-word; white-space: pre-wrap;">{{user.CurrentUserQuestion.Question.description}}</pre>
				<hr/>
				<form>
					<ul *ngIf="user.CurrentUserQuestion.Question.QuizOptions" class="slides">
						<li *ngFor="let option of user.CurrentUserQuestion.Question.QuizOptions">						
							<!--  -->
							<input *ngIf="user.CurrentUserQuestion.Question.optionType === 'Checkbox'" type="checkbox" 
								name="optionSelection"
								value="{{option.id}}"
								(change)="onOptionSelected(user.CurrentUserQuestion, option)">
							<input *ngIf="user.CurrentUserQuestion.Question.optionType != 'Checkbox'" type="radio" 
								name="optionSelection" 
								value="{{option.id}}"
								(change)="onOptionSelected(user.CurrentUserQuestion, option)">						
							<label>{{option.description}}</label>											
						</li>
					</ul>
				</form>
				<button class="btn btn-default" (click)="getNextQuestion()">Get Next Question</button>
			</div>		  
		</div>

		<div *ngIf="user && !user?.CurrentUserQuestion?.id">
			<div *ngIf="user.CurrentUserQuiz" style="text-align:center">
				<h3>You have completed the current quiz. Press Next to go to the next level.</h3>
				<br/>
				<button class="btn btn-primary" (click)="startNextQuiz()" style="margin-bottom: 10px">Next</button>
			</div>
			
			<div *ngIf="!user.CurrentUserQuiz" style="text-align:center">
				<h3>You have completed all the levels. Hurray!</h3>
				<br/>
			</div>
		</div>
	</div>
</div>