<div class="container-fluid">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Quiz</h3>			
		</div>
		<div class="panel-body">
			<div class="row">
				<div>
					<div class="col-md-2">Id</div>
					<div class="col-md-2">Desc</div>
					<div class="col-md-2">Level</div>
					<div class="col-md-2">TimeOut</div>				
					<div class="col-md-2"><button class="btn btn-primary btn-sm" (click)="addNewQuiz()">Add New Quiz</button></div>
				</div>
			</div>
			<div class="row">
				<div *ngFor="let quiz of quizs">
					<div class="col-md-2">
						<label>{{quiz._id}}</label>
					</div>
					<div class="col-md-2">
						<input type="text" [(ngModel)]="quiz.desc"/>
					</div>
					<div class="col-md-2">
						<input type="text" [(ngModel)]="quiz.level"/>
					</div>				
					<div class="col-md-2">
						<input type="text" [(ngModel)]="quiz.timeoutInterval"/>
					</div>
					<div class="col-md-4">
						<button class="btn btn-default btn-sm" (click)="updateQuiz(quiz)">Update Quiz</button>
						<button class="btn btn-default btn-sm" (click)="deleteQuiz(quiz)">Delete Quiz</button>
						<a [routerLink]="['/questions', quiz._id]" class="btn btn-default btn-sm">Show Questions ({{quiz.questions?.length}})</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>